* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Dm Sans";
}
.container {
  position: relative;
}
.hero-section {
  background-color: #029f58;
  height: auto;
  width: 100%;
}
/* .overlay {
  position: absolute;
  inset: 0 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */
nav {
  background-color: transparent;
  width: 100%;
  z-index: 9999;
  height: 10rem;
}

div.logo {
  display: inline-block;
  padding: 0 100px;
  height: 8rem;
  padding-top: 60px;
}

nav ul {
  float: right;
  margin-right: 1.875rem;
}

nav ul li {
  display: inline-block;
  line-height: 10rem;
  margin: 0 2.1875rem;
  font-weight: 500;
}

nav ul li a {
  font-size: 1.25rem;
  color: white;
}

.checkbtn {
  font-size: 1.875rem;
  color: white;
  float: right;
  line-height: 8rem;
  margin-right: 2.5rem;
  display: none;
}

#check {
  display: none;
}
.hero-title {
  color: #fff;
  font-size: 7.5rem;
  text-align: center;
  margin: 3.125rem 0 0 0;
}

.hero-subtitle {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 4.375rem;
  margin-top: 2.5rem;
}
.store {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1.625rem;
}

.store img {
  border-radius: 8px;
  width: 16.25rem;
  height: 5.125rem;
  object-fit: cover;
}

@media (max-width: 952px) {
  div.logo {
    font-size: 1.875rem;
    padding-left: 3.125rem;
    padding-top: 2.8125rem;
  }
  nav ul li a {
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 8rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 3.125rem 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 1.25rem;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .hero-title {
    font-size: 3.125rem;
  }
}
